<!DOCTYPE html>
<html ng-app="testmodule">
    <head>
        <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/arne.js")"></script>
    </head>
    <body>
        <form action="postdata" method="post" enctype="multipart/form-data">
            <input name="file" type="file"/>
	        <input type="text" value="Min adress" name="myaddress"/>
	        <input type="submit"/>
	    </form>
	    <p>Testdata <a href="/assets/teststuff/namnlost.xlsx">här</a></p>
	    <input ng-model="slask"/>
	    <div ng-controller="TestController" >
	         Hello {{ title }}
	         simple loop
		    <li ng-repeat="shit in data">
		       <ul> {{ shit.name }} - {{ shit.must }}</ul>
		    </li>
	    </div>
	    <p>{{ slask | uppercase }} </p>
	    loop with more stuff
	    <div ng-controller="Header">
	       <ul ng-repeat="label in labels">
	           <a href="{{ label.a }}">{{ label.name }}</a>
	       </ul>
	    </div>
	    <div id="mustarcontent" ng-controller="Mustare">
		    VIEW BELOW {{
		    <ng-include src="view"></ng-include>
		    }}
		    when you press <a ng-click="initDynamic()" style="text-decoration: underline;">HERE</a> the view above will be filled with data from controller mustare
	    </div> 
	    
	    <div ng-controller="WsTest">
	       <button ng-click="initData()">Get data from WS</button>
	       <p ng-show="data">
	           WS response is {{ data }} <br/>
	           Sum of array is {{ arraysum }}
	       </p>
	    </div>
    </body>
</html>